@import url(./fonts.css);
body {
    font-family: "OpenSans";
    color: #272829;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "OpenSans";
  }
  p{
    font-family: "OpenSans";
  }
/* start header*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #004e7c;
    overflow-y: auto;
  }
  #header .profile img {
    padding-top: 30px;
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #004e7c;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
  }
  
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #DCE1E3;
    text-decoration: none;
  }
  
  #header .profile h1 a:hover {
    
    color: #149ddd;
    text-decoration: none;
  }
  
  #main {
    margin-left: 300px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
    #main {
      margin-left: 0;
    }
  }

/* end header*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
  width: auto;
}

.nav-menu * {
  margin: 0;
  padding: 0 25px;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #DCE1E3;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a span  {
  padding: 4px 50px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #DCE1E3;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
  text-decoration: none;
  color: #149ddd;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu li:hover > a i {
  color: #149ddd;
}


/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}
/*   End NavBar   */
/*   Start Socials   */
#header .socials{
  padding: 50px 59px;
}
#header .socials a{
  display: inline-block;
  text-align: center;
  color: black;
  padding: 25px 15px;
  margin-right: 4px;
  margin-bottom: 8px;
  transition: 0.3s;
  width: 36px;
  height: 36px;
  font-size: 15px;
  line-height: 1;
}
#header .socials a i {
  font-size: 24px;
  padding-right: 8px;
  color: #DCE1E3;
}

#header .socials a i:hover {
  font-size: 24px;
  padding-right: 8px;
  color: #149ddd;
}
/*   End Socials   */


#handsome {
  width: 100%;
  height: 100vh;
  background: url("../img/brooklyn2.png");
  background-position: top center;
  background-size: cover;
}

#handsome:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#handsome .handsome-container {
  position: relative;
  left: -150px;
  z-index: 2;
  min-width: 300px;
}
@media(max-width: 1199px){
  #handsome .handsome-container{
    left: 0px;
  }
}

#handsome h1 {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#handsome p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "OpenSans";
}

#handsome p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
  font-family: "OpenSans";

}

@media (min-width: 1024px) {
  #handsome {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #handsome h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #handsome h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
/* Section General*/
section {
  padding: 60px;
}


.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/* About section*/
.about{
  padding-left: calc(300px + 1vw);
  background-color: #DCE1E3;
}
@media (max-width: 1199px) {
  .about { padding-left: 50px; }
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}
/* end about */
/* start interest */
.interests{
  padding-left: calc(300px + 1vw);
  background-color: #fff;
  top: -100px;
}
@media (max-width: 1199px) {
  .interests { padding-left: 50px; }
}

.interests .interest-box{
  padding: 10px;
  width: 100%;
}
.interest-box i{
  display: block;
  padding-left: 15px;
  font-size: 44px;
  color: #173b6c;
  float: Top;

}
.interest-box p{
  padding: 15px; 
  color: #173b6c;
}
/* end interest */
.skills{
  padding-left: calc(300px + 1vw);
  background-color: #DCE1E3;
}
@media (max-width: 1199px) {
  .skills { padding-left: 50px; }
}
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #149ddd;
}
/* end skills section */
/* resume section */
.resume{
  padding-left: calc(300px + 1vw);
  background-color: #fff;
}
@media (max-width: 1199px) {
  .resume { padding-left: 50px; }
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
   padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 60px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
/* End of resume */

/* Start projects */
.projects{
  padding-left: calc(300px + 1vw);
  background-color: #fff;
}
@media (max-width: 1199px) {
  .projects { padding-left: 50px; }
  .projects .project-title{
    padding-top: 25px;
  }
}
.projects .project-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #050d18;
}

.projects .p{
  display: block;
}
.projects .project-img{
  bottom: 100px;
}
.projects .project-img:hover{
  transform: scale(1.25);
  
}


